<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Prediction
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Timer</ion-title>
    </ion-toolbar>
  </ion-header>


  <ion-card>

    <ion-card-header>
      Goal race
    </ion-card-header>

    <ion-card-content>
      <ion-list inset>

        <ion-item>
          <ion-label>{{ predrace }}</ion-label>
        </ion-item>
        <ion-button expand="block" (click)="startTimer()">Start</ion-button>
      </ion-list>
    </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-item>
        <ion-label>{{ timedisplay }}</ion-label>
      </ion-item>
    </ion-card>
    </ion-content>